*{
    margin-left: 2%;
}
.form{
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}
label{
    margin-bottom: 10px;
}
input{
    display: block;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
