nav ul{
    background-color: #f2f2f2;
    width: 50%;
}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}
a{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    margin: 10px 20px;
    text-align: center;
}